.general
    &__header
        margin-bottom $offset-6x

    &__blocks
        overflow auto
        -ms-overflow-style none
        scrollbar-width none

        &::-webkit-scrollbar
            display none

    &__block
        margin-bottom $offset-9x
        overflow hidden
