.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 32px 0;
}

.top {
    flex-grow: 1;
    width: 100%;
}

.container-security {
    margin-bottom: 32px;
}

.heading {
    margin-bottom: 12px;
}

.button:not(:last-child) {
    margin-bottom: 16px;
}

.button-delete {
    color: $color_error;
}
