.container {
    font-size: $fs-s;
    line-height: 18px;
    list-style: none;
    border-bottom: 2px solid var(--color_main-008);

    &.__is-in_progress {
        border-bottom-width: 0;
    }
}

.container-main {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}

.title {
    margin-bottom: 8px;
    multiEllip(1, 18px);
    fontMedium();
}

.date {
    color: var(--color_secondary);
}

.icon {
    margin-left: 16px;
}

.wrapper {
    &.__is-not_available {
        cursor: not-allowed;
        opacity: 0.5;
    }
}

.link {
    display: block;

    .__is-not_available & {
        pointer-events: none;
    }
}
