.tab {
    margin-right: 24px;
    padding-bottom: 6px;

    fontSemiBold();
    color: $color_main;
    line-height: 20px;
    border-bottom: 2px solid transparent;

    &:last-child {
        margin-right: 0;
    }

    &.__is-active {
        border-bottom: 2px solid $color_active;
    }
}
