.heading {
    display: flex;
    flex-direction: column;
    fontRegular();
}

.greetings {
    margin-bottom: 4px;
    color: var(--color_secondary);
    font-size: $fs-s;
}

.name {
    fontBold();
    color: var(--color_main);
    font-size: $fs-m;
}
