.heading {
    display: flex;
    flex-direction: column;
    fontRegular();
}

.greetings {
    margin-bottom: 4px;
    color: $color_secondary;
    font-size: $fs-s;
}

.name {
    fontBold();
    color: $color_main;
    font-size: $fs-m;
}
