.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 11;
    display: flex;
    padding: 24px;
    background-color: var(--color_black-060);
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 24px 24px 0;
    text-align: center;
    background-color: var(--color_surface);
    border-radius: 8px;
}

.heading {
    margin-bottom: 8px;
    fontBold();
    color: var(--color_main);
    font-size: $fs-l;
}

.body {
    margin-bottom: 20px;
    color: var(--color_secondary);
    text-align: center;
}

.footer {
    display: flex;
    width: 100%;
}

.button {
    flex-grow: 1;
    fontMedium();
    font-size: $fs-s;

    &.__primary {
        color: var(--color_primary);
    }

    &.__danger {
        color: var(--color_error);
    }
}
