loadFont("Inter", "@fonts/Inter/Inter-Thin", 100);
loadFont("Inter", "@fonts/Inter/Inter-ExtraLight", 200);
loadFont("Inter", "@fonts/Inter/Inter-Light", 300);
loadFont("Inter", "@fonts/Inter/Inter-Regular", 400);
loadFont("Inter", "@fonts/Inter/Inter-Medium", 500);
loadFont("Inter", "@fonts/Inter/Inter-SemiBold", 600);
loadFont("Inter", "@fonts/Inter/Inter-Bold", 700);
loadFont("Inter", "@fonts/Inter/Inter-ExtraBold", 800);
