// Transitions
$trans-300 = 0.3s;

// Fonts
$fs-xl = 24px;
$fs-l = 20px;
$fs-m = 18px;
$fs-s = 16px;
$fs-xs = 14px;
$fs-xxs = 12px;

// Sizes
$size-header = 56px;
$size-nav = 54px;
$size-button = 48px;
$size-card = 160px;

// Border radius
$br-card = 4px;
