.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    border-bottom: 1px solid $color_surface;
}

.label {
    fontMedium();
    color: $color_main;
    font-size: $fs-s;
}

.wrapper {
    position: relative;
}

.radio {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;

    &:checked {
        & + .radio-custom {
            background-color: $color_active;
            border: 1px solid $color_active;

            & .icon {
                display: block;
            }
        }
    }

    &:focus-visible {
        & + .radio-custom {
            outline: 1px solid $color_primary;
        }
    }
}

.radio-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: $color_surface;
    border: 1px solid $color_on-surface;
    border-radius: 50%;
}

.icon {
    display: none;
    color: $color_white;
}
