baseButtonStyles() {
    height: 48px;
    padding: 0 12px;
    border-radius: 8px;
}

.button {
    position: relative;
    margin: 0;
    padding: 0;
    color: var(--color_main);
    font-size: $fs-s;
    text-align: initial;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: background-color $trans-300;

    &:disabled {
        cursor: not-allowed;
    }

    &.__theme {
        &-primary {
            baseButtonStyles();

            color: var(--color_white);
            background-color: var(--color_primary);

            +hover('__state') {
                background-color: var(--color_active);
            }

            &:disabled {
                color: var(--color_on-surface);
                background-color: var(--color_surface);
            }
        }

        &-secondary {
            baseButtonStyles();

            +hover('__state') {
                background-color: var(--color_surface);
            }

            &:disabled {
                color: var(--color_on-surface);
            }
        }
    }

    &.__is {
        &-loading {
            width: 48px;
        }

        &-wide {
            width: 100%;
        }

        &-rounded {
            border-radius: 50%;
        }
    }

    &.__with {
        &-no_padding {
            padding: 0;
        }
    }

    fontMedium();

    squareElementSizes();

    flexPositionsAndDirections();
}

.icon svg {
    display: block;
}
