.button
    position relative
    display flex
    flex-shrink 0
    justify-content center
    align-items center
    height 48px
    margin 0
    padding 0 12px
    color var(--color_main)
    font-size 15px
    background-color transparent
    border 0
    border-radius 9px
    cursor pointer
    transition $trans-300

    fontMedium()

    &:disabled
        cursor not-allowed

    &__icon
        svg
            display block

    &--theme
        &__primary
            background-color var(--color_primary)

            +hover('button--state')
                background-color var(--color_active)

            &:disabled
                color var(--color_on-surface)
                background-color var(--color_surface)

        &__secondary
            +hover('button--state')
                background-color var(--color_surface)

            &:disabled
                color var(--color_on-surface)

        &__clear
            flex-shrink 0
            cursor pointer
            transition background-color 0.3s
            all unset

    &--size
        &__24
            width 24px
            height 24px

        &__36
            width 36px
            height 36px

        &__40
            width 40px
            height 40px

        &__44
            width 44px
            height 44px

        &__52
            width 52px
            height 52px

    &--content-position
        &__left
            justify-content left

        &__center
            justify-content center

        &__right
            justify-content right

    &--color
        &__red
            background-color var(--color_error)

    &--is
        &-loading
            width 48px

        &-wide
            width 100%

        &-rounded
            border-radius 50%

    &--with
        &-no_padding
            padding 0
