.button
    position relative
    display flex
    flex-shrink 0
    justify-content center
    align-items center
    height 48px
    margin 0
    padding 0 12px
    color var(--color_main)
    font-size 15px
    background-color transparent
    border 0
    border-radius 9px
    cursor pointer
    transition $trans-300

    fontMedium()

    &:disabled
        cursor not-allowed

    & .__theme
        &-primary
            background-color var(--color_primary)

            +hover('button--state')
                background-color var(--color_active)

            &:disabled
                color var(--color_on-surface)
                background-color var(--color_surface)

        &-secondary
            +hover('button--state')
                background-color var(--color_surface)

            &:disabled
                color var(--color_on-surface)

        &-clear
            flex-shrink 0
            cursor pointer
            transition background-color 0.3s
            all unset

    & .__size
        &-s24
            width 24px
            height 24px

        &-s36
            width 36px
            height 36px

        &-s40
            width 40px
            height 40px

        &-s44
            width 44px
            height 44px

        &-s52
            width 52px
            height 52px

    & .__content_position
        &-left
            justify-content left

        &-center
            justify-content center

        &-right
            justify-content right

    & .__bg_color
        &-red
            background-color var(--color_error)

    & .__is
        &-loading
            width 48px

        &-wide
            width 100%

        &-rounded
            border-radius 50%

    & .__with
        &-no_padding
            padding 0

.icon svg
    display block