.page {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;

    &.__is-with_heading {
        margin-top: $size-header;
    }
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    padding: s('env(safe-area-inset-top)') s('env(safe-area-inset-right)') 0 s('env(safe-area-inset-left)');
    font-size: $fs-m;
    background-color: var(--color_surface);

    &.__is-transparent {
        background-color: transparent;
    }
}
