.container {
    position: relative;
}

.progress {
    makeInvisible();
}

.wrapper {
    width: 100%;
    height: 2px;
    background-color: var(--color_main-008);
}

.value {
    height: 100%;
    background-color: var(--color_active);
    transition: width $trans-300;
}
