.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 32px 0;
}

.container-old-input {
    padding-bottom: 32px;
}

.container-input {
    flex-grow: 1;
}
