.wrapper {
    position: relative;
}

.input {
    +darkTheme() {
        color-scheme: dark;
    }
    width: 100%;
    height: 48px;
    padding: 0 12px;
    color: $color_main;
    font-size: $fs-s;
    background-color: $color_surface;
    border: 0;
    border-radius: 8px;
}

.icon-eye {
    position: absolute;
    top: 50%;
    right: 12px;
    color: $color_secondary;
    transform: translateY(-50%);

    &.__is-active {
        color: $color_main;
    }
}

.error {
    margin-top: 8px;
    color: $color_error;
    font-size: $fs-xxs;
}
