.tabs {
    display: flex;
    margin-bottom: 12px;
    padding: 16px 0;

    useDesktopWidth();

    .__with-fix_header & {
        position: fixed;
        right: 0;
        left: 0;
        z-index: 10;
        margin-bottom: 0;
        padding: 16px;
        background-color: var(--color_background);
    }
}

.content {
    .__with-fix_header & {
    }
}
