.wrapper {
    position: relative;
    width: 100%;
    height: 100%;

    &.__with-border_radius {
        overflow: hidden;
        border-radius: $br-card;
    }
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &.__is-loading {
        opacity: 0;
    }
}
