.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;

    useMediaWidth();
}

.navbar {
    width: 100%;
    height: $size-nav;
    padding: 4px 0;
    background-color: $color_surface;
}
