.header {
    width: 100%;
    height: $size-header;
    padding: 16px;
    color: var(--color_main);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: var(--color_main);
}

.heading {
    word-break: break-word;
}

.description {
    margin: $offset-4x 0 $offset-9x;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
}

.left
.right {
    display: flex;
    align-items: center;
}

.right {
    &.__is-only-buttons {
        justify-content: space-between;
        width: 100%;
    }
}

.back {
    margin-right: $offset-4x;
}

.button {
    margin-right: $offset-4x;

    &:last-child {
        margin-right: 0;
    }
}
