.header
    width 100%
    color var(--color_main)

    &__wrapper
        display flex
        justify-content space-between
        align-items center
        height 100%
        color var(--color_main)

.heading
    word-break break-word

.description
    margin $offset-4x 0 $offset-9x
    font-weight normal
    font-size 15px
    line-height 21px

.left
.right
    display flex
    align-items center

.right
    margin 0 (- $offset-2x)

.back
    margin-right $offset-4x

.button
    margin 0 $offset-2x
