.layout
    position relative
    display flex
    flex-grow 1
    flex-direction column
    width 100%
    padding $offset-4x $offset-4x $size-nav
    overflow-y auto

.navbar
    position fixed
    bottom 0
    left 0
    z-index 10
    padding-bottom env(safe-area-inset-bottom, 12px)
