.layout {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    padding: $size-header $offset-4x $size-nav;
}

.navbar
.header {
    position: fixed;
    left: 0;
    z-index: 10;
    width: 100%;
    padding: 0 s('env(safe-area-inset-right)') 0 s('env(safe-area-inset-left)');
}

.header {
    top: 0;
    padding-top: s('env(safe-area-inset-top)');
    background-color: var(--color_background);
}

.navbar {
    bottom: 0;
    padding-bottom: s('env(safe-area-inset-bottom)');
    background-color: var(--color_surface);
}
