.card {
    position: relative;
    display: block;
    width: $size-card;
}

.wrapper {
    display: inline-block;
    vertical-align: top;
}

.image {
    height: 240px;
}

.title {
    width: 100%;
    margin-top: 12px;
    color: var(--color_main);
    font-weight: normal;
    font-size: $font-size-h4;
    font-style: normal;
    line-height: 18px;
    text-align: left;
    multiEllip(2, 18px);

    &.__align-center {
        text-align: center;
    }
}
