.card
    position relative
    width 164px
    height 300px

.wrapper
    display inline-block
    vertical-align top

.image
    height 240px

.title
    margin-top 12px
    color var(--color_main)
    font-weight normal
    font-size 15px
    font-style normal
    line-height 18px
    text-align left
    multiEllip(2, 18px)

    &.__align-center
        text-align center
