.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 42px;
    padding: 0;

    &.__is-active {
        .title {
            color: $color_active;
        }
        .icon {
            color: $color_active;
        }
    }
}

.icon {
    width: 24px;
    height: 24px;
    margin-bottom: 4px;
    color: $color_on-surface;
}

.title {
    color: $color_on-surface;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}
